html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  font-family: $body-font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    color: $body-font-color;
    font-weight: $normal-weight;
  }
}