


//colors
$red: #e8233e;
$yellow: #f8e71e;
$white: #ffffff;
$grey: #5a5a5a;
$light-grey: #dcdcdc;
$body-font-color: $grey;


//font
$normal-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$body-font-family: 'Helvetica neue', Helvetica;